/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body{
  padding: 20px;
}
.list-group{
  padding-top: 16px;
}
.btn{
  margin-top: 10px;
}
.btn-danger{
  margin-left: 10px;
}